@font-face {
  font-family: "handlee";
  src: url('../assets/Handlee-Regular.ttf');
  font-display: swap;
}
@font-face {
  font-family: "halant";
  src: url('../assets/Halant-Regular.ttf');
  font-display: swap;
}