//Global colors
$background: #fff;
$grey: #A0BABE;
$blue: #0E9AB0;
$black: #030505;
$mango: #ECA903;

section {
 
}
//Mobile H'ses
h1 {
  color: $mango;
  font-size: 50px !important;
  font-weight: bold;
}
h2 {
  color: $mango;
  font-size: 35px !important;
}
h3 {
  color: $black;
  font-size: 25px !important;
}