//Global colors
$background: #fff;
$grey: #A0BABE;
$blue: #0E9AB0;
$black: #030505;
$mango: #ECA903;

//Mobile H'ses
h1 {
  color: $mango;
  font-family: "handlee";
  font-size: 50px !important;
  font-weight: bold;
}
h2 {
  color: $blue;
  font-family: "handlee";
  font-size: 35px !important;
}
h3 {
  color: $black;
  font-size: 25px !important;
}

//Other reusable stuff
p {
  color: $black;
  font-family: "halant";
  font-size: 18px;
  padding: 7px 0px;
}
em {
  color: $black;
  font-family: "halant";
  font-size: 12px;
}
.line {
  display: inline-block;
  height: 1px;
  width: 100%;
  background-color: $grey;
}
.link {
  text-decoration: none;
}
.loading-wrapper {
  background-color: $background;
  text-align: center;

  img {
    width: 70px;
    height: auto;
    padding: 1.5rem;
  }
}
.big_extra {
  display: none;
}
.big_not {
  display: inline-block;
}


@media screen and(min-width: 700px) {
  //Big screen H'es {
  h1 {
    color: $mango;
    font-family: "handlee";
    font-size: 53px !important;
    font-weight: bold;
  }
  h2 {
    color: $blue;
    font-family: "handlee";
    font-size: 38px !important;
  }
  h3 {
    color: $black;
    font-size: 28px !important;
  }
  //Big screen other reusable stuff
  p {
    color: $black;
    font-family: "halant";
    font-size: 21px;
    padding: 7px 0px;
  }
  em {
    color: $black;
    font-family: "halant";
    font-size: 15px;
  }
  .big_break {
    display: none;
  }
  .big_extra {
    display: inline-block;
  }
  .big_not {
    display: none;
  }
}